/* @media screen and (max-width:500px){ */
    .header-mainDiv{
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        z-index: 1;
        width: 100vw;
        margin: auto;
        opacity: 0.9;
        background-color: black;
        height:100px;
        top:0;
    }
/* } */

.header-mainDiv .header-img .home-img{
    width:220px;
    height:80px;
    object-fit: contain;
}

@media screen and (max-width:1080px){
    .header-mainDiv .header-img .home-img{
        width:120px;
        height:40px;
    }
}